@import "../../../styles/toRemConverter";

.container {
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #00fecc, #00f0c1, #00e1b5, #00d3aa, #00c59f, #00bc98, #00b491, #00ab8a, #00a585, #009f80, #009a7c, #009477);
  font-variation-settings: 'serf' 2;
}

.info {
  padding: rem(30px) rem(20px);
}

.header {
  font-size: rem(12px);

  h1 {
    margin-top: 0;
    font-weight: 800;
  }
}

.exercisesList {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: rem(35px);
}
