@import "../../../../styles/toRemConverter";

.formField {
  display: flex;
  flex-direction: column;
  gap: rem(2px);
  margin-top: rem(20px);

  & > label {
    padding-left: rem(8px);
    color: #504E4E;
  }
}

.textInput {
  padding: rem(10px);
  background: transparent;
  border: none;
  border-bottom: black solid rem(1px);
  border-radius: rem(7px);
  line-height: rem(20px);

  &:focus {
    outline-width: 0;
  }
}

.submitButton {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: rem(16px);
  margin-top: rem(50px);
  font-size: rem(25px);
  font-weight: 600;
  border: solid black rem(2px);
  border-radius: rem(10px);
}
