.container {
  height: 180vh;
  background-image: linear-gradient(to right bottom, #00fecc, #00f0e5, #00dff5, #00cdfa, #33baf4);
  font-variation-settings: 'serf' 10;
}

.info {
  padding-left: 2rem;
  padding-top: 2rem;
}
