@import "../../../styles/toRemConverter";

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #00fecc, #00fad9, #00f5e4, #00f0ec, #2feaf2);
  font-variation-settings: 'serf' 2;
}

.info {
  max-width: rem(500px);
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  padding: rem(18px);
  border-bottom: black solid rem(2px);
  border-radius: rem(7px);

  .headerGreeting {
    margin-top: 0;
    margin-bottom: 0;
    font-size: rem(18px);
    font-weight: 800;
    overflow:hidden;
    text-overflow:ellipsis;
  }

  .headerSettings {
    justify-self: end;
  }
}

.installPrompt {
  margin-top: rem(-10px);
  padding-left: rem(20px);
  padding-right: rem(20px);
}
